body {
    flex-direction: row;
    border: 8px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border-color: black;
    gap: 45px;
    padding-right: 250px;
    background-color: #1e293b;
    color: white;
    margin: 0;
    padding: 0;

    
}

.box { 
    height: 40px;
    width: 155px;
    font-size: 20pt;
    border: 8px;
    border-color: black;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-right: 65px;
    padding-top: 9px;
    

  }
    

.box-one {
    margin-left: 300px;
    margin-right: auto;
    font-size: 20pt;
    height: 40px;
    width: 220px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
     padding-top: 9px;
}

.sub-heading {
position: absolute;
  top: 280px;       
  left: 300px;     
  font-size: 16pt;
  color: white;
  display: flex;
  font-size: 40px;
  height: 265px;
  width: 550px;
}

.button {
    position: absolute;
    top: 625px;
    left: 320px;
    background-color: #6b99fa;
    color: white;
    font-size: 25px;
    height: 55px;
    width: 165px;
    border-radius: 15px;
}

.image-placeholder {
    width: 650px;
    height: 320px;
    border-radius: 30px;
    border: solid 2px;
    position: absolute;
    top: 260px;
    left: 1000px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-section {
  position: absolute;
  top: 950px;
  width: 100%;
  height: 1000px;
  background-color: white;
  color: black;
  border: solid black;
  text-align: center;
  padding-top: 75px;
  font-size: 35px;
}

.information-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 90px;
  margin-top: 100px;
}

.info-item {
  width: 150px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(67, 183, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
  border-radius: 24px;
  border-width: 5px;
}
.info-section {
  position: absolute;
  top: 950px;
  width: 100%;
  height: 1000px;
  background-color: white;
  color: black;
  border: solid black;
  text-align: center;
  padding-top: 75px;
  font-size: 35px;
}

.information-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 90px;
  margin-top: 100px;
}

.info-item {
  width: 150px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 12px;
  
}

.information-box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 90px;
  margin-top: 10px;
}

.info-item2 {
width: 150px;
height: 100px;
background-color: rgb(255, 255, 255);
border: 2px solid black;
display: flex;
justify-content: center;
align-items: center;
color: rgb(0, 0, 0);
font-size: 16px;
font-weight: bold;
border-radius: 12px;
}

.inspiring-quote {
  position: absolute;
  top: 1700px;
  width: 100%;
  height: 600px;
  background-color: #E5E7EB;
  color: black;
  text-align: center;
  padding-top: 75px;
  font-size: 48px;
  padding-top: 150px;
}


.sign-up {
width: 100%;
height: 450px;
background-color: rgb(255, 255, 255);
display: flex;
justify-content: center;
align-items: center;
color: white;
font-size: 16px;
font-weight: bold;
border-radius: 12px;
position: absolute;
top: 2200px;

}

.sign-up-rectangle {
width: 1150px;
height: 170px;
background-color: #2191d6;
display: flex;
justify-content: left;
align-items: left;
color: white;
font-size: 16px;
font-weight: bold;
border-radius: 12px;
font-size: 26px;
flex-direction: column;
padding-left: 250px;
border-radius: 20px;
position: relative;
bottom: 45px;

}
.title {
  font-size: 26px;
  margin-bottom: 20px; 

}

.subtitle {
display: flex;
align-items: center;
justify-content: flex-start;
color: white;
font-size: 16px;
}

.sign-up-button {
  width: 145px;
  height: 40px;
  align-items: right;
  position: absolute;
  top: 65px;
  right: 390px;
  color: white;
  background-color: #2191d6;
  border: solid white;
  cursor: pointer;
  transition: 0.2s ease;
  border-radius: 20px;
  font-size: 19px;

}

.sign-up-button:active {
  background-color: rgb(207, 231, 238)
}

.sign-up-button:hover {
  background-color: #4db6f7;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 30px;
}

.info-item img {
   width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 60px;
  border: solid 30px;
}